@font-face {
    font-family: 'VarelaRound';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfpcuPP9g.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
  }

#allSite {
    font-family: VarelaRound;
}
